{% if collection.metafields["custom"]["collection_for"] != blank %}
  <div class="custom-field custom-field__collection-for custom-field__type--single-line-text-field">
    <h3 class="custom-field--title">Collection For</h3>
    <div class="custom-field--value">
      {{ collection.metafields["custom"]["collection_for"] }}

    </div>
  </div>
{% endif %}