{% if section.settings.title != blank
  and section.settings.sub_title != blank
  and section.settings.content != blank
  and section.settings.image != blank
%}
  <section class="about-two-col">
    <div class="container">
      <div class="flex about-row">
        <div class="about-left-col">
          <div class="about-left-inner pt-70 pb-70">
            <div class="section-title">
              {% if section.settings.title != blank %}
                <h2>{{ section.settings.title }}</h2>
              {% endif %}
              {% if section.settings.sub_title != blank %}
                <div class="subtitle">{{ section.settings.sub_title }}</div>
              {% endif %}
            </div>
            {{ section.settings.content }}
          </div>
        </div>
        {% if section.settings.image != blank %}
          <div class="about-right-col">
            <div class="about-media">
              {{ section.settings.image | img_url: 'large' | img_tag }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "About Section 1",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title",
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
