<div class="container">
  <h2>Its A Test Section</h2>

  {% assign onecoll = collections.garden.products %}

  {% assign newcoll = collections.apparel.products %}

  {% assign bothcoll = onecoll | concat: newcoll %}

  //{{ bothcoll.size }}//

  {% paginate bothcoll.products by 10 %}
    {% render 'facets', results: bothcoll, enable_filtering: true, enable_sorting: true, paginate: paginate %}
    {% for pro in bothcoll.products %}
      {{ pro.title }}-- <br>
    {% endfor %}
  {% endpaginate %}
</div>
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Test Section JK",
  "blocks": [
    {
      "type": "image-meta-block",
      "name": "Image Meta block",
      "settings": [
        {
          "type": "text",
          "id": "justtext",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "justimage",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "collection_list",
      "id": "exclude_collection",
      "label": "Exclude Collections"
    }
  ],
  "presets": [
    {
      "name": "Test Section JK"
    }
  ]
}
{% endschema %}
