/**
 * Base CSS file for Custom Fields widget styles.
 */
.custom-fields-widgets-wrapper {
  margin-top: 2rem;
}
.custom-fields-widgets-wrapper > div {
  margin-bottom: 2rem;
}
.custom-fields-widgets-wrapper > div:last-child {
  margin-bottom: 0;
}

.custom-fields-wrapper > [class*=cf-widget-] {
  margin-bottom: 2rem;
}

.custom-fields-section {
  margin-top: 6rem;
}
.custom-fields-section a:empty, .custom-fields-section div:empty, .custom-fields-section section:empty, .custom-fields-section article:empty {
  display: block;
}
.custom-fields-section .custom-field {
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.custom-fields-section .cf-widget-items-wrapper {
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1200px;
}
.custom-fields-section .custom-fields-section__item > div:not(.custom-field) {
  margin-bottom: 8rem;
}
@media screen and (min-width: 749px) {
  .custom-fields-section .custom-field {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .custom-fields-section .cf-widget-items-wrapper {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/** START V2 **/
.custom-fields-section.v2 {
  width: 100%;
  margin-top: 0;
}
.custom-fields-section.v2 > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.custom-fields-section.v2 .cf-widget-section-title {
  text-align: center;
}
.custom-fields-section.v2 .custom-fields-section__item {
  width: 100%;
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-1-of-12 {
  width: calc(100% / 12 * 1);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-2-of-12 {
  width: calc(100% / 12 * 2);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-3-of-12 {
  width: calc(100% / 12 * 3);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-4-of-12 {
  width: calc(100% / 12 * 4);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-5-of-12 {
  width: calc(100% / 12 * 5);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-6-of-12 {
  width: calc(100% / 12 * 6);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-7-of-12 {
  width: calc(100% / 12 * 7);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-8-of-12 {
  width: calc(100% / 12 * 8);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-9-of-12 {
  width: calc(100% / 12 * 9);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-10-of-12 {
  width: calc(100% / 12 * 10);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-11-of-12 {
  width: calc(100% / 12 * 11);
}
.custom-fields-section.v2 .custom-fields-section__item.cf-width-12-of-12 {
  width: calc(100% / 12 * 12);
}
.custom-fields-section.v2 .custom-fields-section__item:not(.cf-width-12-of-12) {
  padding-right: 1.5rem;
}
.custom-fields-section.v2 .custom-fields-section__item:not(.cf-width-12-of-12):last-child {
  padding-right: 0;
}
@media screen and (max-width: 768px) {
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-1-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-2-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-3-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-4-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-5-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-6-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-7-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-8-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-9-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-10-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-11-of-12 {
    width: 100%;
  }
  .custom-fields-section.v2 .custom-fields-section__item.cf-width-12-of-12 {
    width: 100%;
  }
}
.custom-fields-section.v2 .custom-fields-section__item > div:not(.custom-field) {
  margin-bottom: 0;
}

/** END V2 **/


/**
 * Testimonials Widget CSS.
 */
.cf-widget__testimonials-v2 {
  position: relative;
}
.cf-widget__testimonials-v2 .cf-widget-items-wrapper {
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
}
.cf-widget__testimonials-v2 .inner {
  padding: 2rem 4rem 4rem 4rem;
  max-width: 680px;
  margin: auto;
  transition: opacity 2s, transform 1s;
  opacity: 0.5;
  transform: scale(0.85);
  text-align: center;
}
.cf-widget__testimonials-v2 .cf-widget-field__quote {
  font-size: 1.5rem;
  position: relative;
  font-weight: bold;
}
.cf-widget__testimonials-v2 .cf-widget-field__author {
  margin-top: 2rem;
  font-size: 0.9rem;
  opacity: 0.8;
}
.cf-widget__testimonials-v2 .cf-slides-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.cf-widget__testimonials-v2 .cf-slider-pager {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-bottom: 15px;
}
.cf-widget__testimonials-v2 .cf-slider-pager .cf-pager-button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.cf-widget__testimonials-v2 .cf-slider-pager .cf-pager-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.cf-widget__testimonials-v2 .cf-slider-pager .cf-pager-button.active {
  background-color: rgba(0, 0, 0, 0.5);
}
.cf-widget__testimonials-v2 .cf-slider-arrow {
  position: absolute;
  z-index: 15;
  padding: 10px;
  cursor: pointer;
  top: 70px;
}
.cf-widget__testimonials-v2 .cf-slider-arrow .arrow-triangle {
  opacity: 0.25;
  display: block;
}
.cf-widget__testimonials-v2 .cf-slider-arrow .arrow-triangle:before {
  display: block;
  content: "";
  background-image: url("cf-arrow-black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 32px;
}
.cf-widget__testimonials-v2 .cf-slider-arrow:hover .arrow-triangle {
  opacity: 0.35;
}
.cf-widget__testimonials-v2 .cf-slider-arrow__prev {
  left: 0;
}
.cf-widget__testimonials-v2 .cf-slider-arrow__prev .arrow-triangle:before {
  transform: rotateZ(-180deg);
}
@media screen and (min-width: 749px) {
  .cf-widget__testimonials-v2 .cf-slider-arrow__prev {
    left: 45px;
  }
}
.cf-widget__testimonials-v2 .cf-slider-arrow__next {
  right: 0;
}
@media screen and (min-width: 749px) {
  .cf-widget__testimonials-v2 .cf-slider-arrow__next {
    right: 45px;
  }
}
.cf-widget__testimonials-v2 .cf-widget-field__title {
  font-size: 1.5rem;
}
.cf-widget__testimonials-v2 .cf-widget-field {
  margin-bottom: 0.5rem;
}
.cf-widget__testimonials-v2 .cf-widget-item {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
}
.cf-widget__testimonials-v2 .cf-widget-item.active .inner {
  opacity: 1;
  transform: scale(1);
}
.cf-widget__testimonials-v2 .cf-widget-item p {
  color: #464646;
}


/**
 * Tabs Widget CSS.
 */
.cf-widget__tabs-v2 .cf-widget-items-wrapper {
  margin: auto;
  position: relative;
}
.cf-widget__tabs-v2 .tab-contents-container {
  position: relative;
}
.cf-widget__tabs-v2 .tab-labels--hidden {
  display: none;
}
.cf-widget__tabs-v2 .tab-labels {
  margin-bottom: -1px;
  z-index: 2;
  position: relative;
  display: flex;
  overflow-y: auto;
}
.cf-widget__tabs-v2 .cf-tab {
  display: inline-block;
  font-size: 1.2rem;
  padding: 12px 25px 12px 25px;
  cursor: pointer;
  position: relative;
  opacity: 0.35;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.3s;
  margin-right: -10px;
  white-space: nowrap;
}
.cf-widget__tabs-v2 .cf-tab:hover {
  opacity: 0.5;
}
.cf-widget__tabs-v2 .cf-tab.active {
  opacity: 1;
  padding: 12px 25px 12px 25px;
  pointer-events: none;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid white;
}
.cf-widget__tabs-v2 .cf-widget-item {
  padding: 25px;
  border: 1px solid #eee;
}
.cf-widget__tabs-v2 .cf-widget-item p {
  margin: 0;
  padding: 0;
}
.cf-widget__tabs-v2 .cf-widget-item p + p {
  margin-top: 1rem;
}
.cf-widget__tabs-v2.js-enabled .tab-contents-container {
  border: 1px solid #eee;
  border-radius: 0 5px 5px 5px;
  background-color: white;
  z-index: 1;
}
.cf-widget__tabs-v2.js-enabled .cf-widget-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 0;
  border: none;
}
.cf-widget__tabs-v2.js-enabled .cf-widget-item.active {
  z-index: 5;
}
.cf-widget__tabs-v2 .cf-widget-item.active {
  display: block;
}


/**
 * Image Next to Text Widget CSS.
 */
.cf-widget__image-next-to-text-v2.cf-layout--left_aligned .cf-column:first-child, .cf-widget__image-next-to-text-v2.cf-layout--right_aligned .cf-column:first-child, .cf-widget__image-next-to-text-v2.cf-layout--left_alternating .cf-column:first-child, .cf-widget__image-next-to-text-v2.cf-layout--right_alternating .cf-column:first-child {
  min-width: 50px;
  margin-bottom: 0;
  max-width: 600px;
}
.cf-widget__image-next-to-text-v2.cf-layout--left_aligned .cf-column:last-child, .cf-widget__image-next-to-text-v2.cf-layout--right_aligned .cf-column:last-child, .cf-widget__image-next-to-text-v2.cf-layout--left_alternating .cf-column:last-child, .cf-widget__image-next-to-text-v2.cf-layout--right_alternating .cf-column:last-child {
  padding-left: 3rem;
}
.cf-widget__image-next-to-text-v2.cf-layout--left_aligned .cf-column:first-child {
  margin-bottom: 1rem;
}
.cf-widget__image-next-to-text-v2.cf-layout--right_aligned .cf-column:last-child {
  padding-left: 0;
  padding-right: 3rem;
}
.cf-widget__image-next-to-text-v2.cf-layout--right_aligned .inner {
  flex-direction: row-reverse;
}
.cf-widget__image-next-to-text-v2.cf-layout--left_alternating .cf-widget-item:nth-child(even) .inner {
  flex-direction: row-reverse;
}
.cf-widget__image-next-to-text-v2.cf-layout--right_alternating .cf-widget-item:nth-child(odd) .inner {
  flex-direction: row-reverse;
}
.cf-widget__image-next-to-text-v2 .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  text-align: left;
}
.cf-widget__image-next-to-text-v2 .cf-widget-field__title {
  font-size: 1.35rem;
  font-weight: bold;
}
.cf-widget__image-next-to-text-v2 .cf-column {
  width: 100%;
}
.cf-widget__image-next-to-text-v2 .cf-column:first-child {
  margin-bottom: 1rem;
}
.cf-widget__image-next-to-text-v2 .cf-widget-field {
  margin-bottom: 1.5rem;
  text-align: left;
}
.cf-widget__image-next-to-text-v2 .cf-widget-field:last-child {
  margin-bottom: 0;
}
.cf-widget__image-next-to-text-v2 .cf-widget-field__link a {
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
}
.cf-widget__image-next-to-text-v2 img {
  display: block;
  width: 100%;
}
@media screen and (min-width: 749px) {
  .cf-widget__image-next-to-text-v2 .cf-widget-field__title {
    font-size: 2.15rem;
    line-height: 2.5rem;
  }
  .cf-widget__image-next-to-text-v2 .inner {
    flex-direction: row;
  }
  .cf-widget__image-next-to-text-v2 .cf-column:first-child {
    min-width: 50px;
    margin-bottom: 0;
    max-width: 600px;
  }
  .cf-widget__image-next-to-text-v2 .cf-column:last-child {
    padding-left: 3rem;
  }
}
